@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baloo+2:wght@400;700&family=Baloo+Bhai+2:wght@400;700&family=Baloo+Bhaijaan+2:wght@400;500;700&family=Dancing+Script:wght@400;700&family=Fredoka+One&family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=League+Gothic&family=Lobster&family=Poppins:wght@400;700&family=Quicksand:wght@400;700&family=Raleway:wght@300;400;700&family=The+Nautigal:wght@400;700&display=swap');

body{
    
    font-family: 'Baloo Bhaijaan 2', cursive;
}

p{
    color: lightgrey;
}

.navbar-brand{
    font-size: 30px;
    font-weight: 700;
}

#big-p{
    font-size: 40px;
}

.nav-item{
    margin-left: 25px;
}


.nav-link{
    font-size: 20px;
    font-weight: 500;
}

.btn{
    padding: 10px 20px;
    border-radius: 30px;
}


.name{
    font-size: 60px;
    font-weight: 700;
    color: #3944F7;
}

#profesion{
    color: #E21717;
}
